.card {
    /* background-color: #444; */
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: all .2s ease-in-out; 
}

.card:hover {
    border: 2px solid white;
    transform: scale(1.1); 
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(11,11,11,1) 45%, rgba(51,52,52,1) 100%);
}

.card > img {
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
    height: 100%;

    /* width: 100%;
    aspect-ratio: 3/2;
     object-fit: contain; 
    border-radius: 50%; */
}