
/* NAV BAR */
/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
} */

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
    height: 35px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(11,11,11,1) 45%, rgba(51,52,52,1) 100%);
    /* border-bottom: 1px solid black; */
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 2px;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.nav-items-div {
    display: flex;
}

.push {
    margin-left: auto;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 1px;
    border-color: silver;
    border: 1px solid;
    border-color: black;
}

.push:hover {
    cursor:pointer;
    border-color: darkgray;
}

.logo {
    padding-left: 0px;
    color: green;
    border-color: black;
}

.nav-item {
    padding-left: 20px;
}

.nav-item-link {
    text-decoration: none;
    color: white;
}

.nav-item-link:hover {
    text-decoration: underline;
}