.top-songs-table {
    table-layout: auto;
    width: 100%;
    /* border: 1px solid white; */
}

td {
    text-align: center;
}
td {
    border-top: 0.5px solid white;
}

.data-row:hover {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(11,11,11,1) 45%, rgba(51,52,52,1) 100%);
}